/*-- scss:defaults --*/
// Base document colors
$body-bg: white;
$body-color: #181818;
$link-color: #2780e3;
$toc-color: #ff5072;
$navbar-bg: white;
$navbar-fg: #5e6878;

$danger-bg-subtle: #40cdf2;

// Code blocks
$code-block-bg-alpha: .8;

