/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #40cdf2;
$toc-color: #ff5072;
$navbar-bg: #0c131f;
$navbar-fg: white;
$danger-bg-subtle: #f1c83c;

// Code blocks
$code-block-bg-alpha: -.8;