/*-- scss:defaults --*/
// Base document colors
// a little inspired by https://ourworldindata.org/ site
$body-bg: white;
$body-color: #181818;
$link-color: #318ce7;
$toc-color: #318ce7;
$navbar-bg: #002147;
//$navbar-fg: #5e6878;
$navbar-fg: white;

$footer-bg: #1d3d63;
$footer-fg: #6e87a2;

//$danger-bg-subtle: #40cdf2;
//$danger-bg-subtle: #ce261e;
$danger-bg-subtle: #f7c020;
//$danger-bg-subtle: #318ce7;

// Code blocks
$code-block-bg-alpha: .8;

//#0073e6